// Theme Information
//--------------------------------------------//
$theme_name: "Codebusta";
$theme_uri: "http://codebusta.co.uk";
$theme_description: "";
$theme_version: "1.0";
$theme_author: "Alex Scott";
$theme_author_uri: "http://alxs.co.uk";
$theme_license: "GPL";
$theme_tags: "High Contrast";
$contentWidth: 960px;
$pColor: #FF6600;
$bgDark: #333333;
$gColor: #9C9C9C;
$oText: #FF9900;

